/* https://www.ffonts.net/28-Days-Later.font */

@font-face {
  font-family: '28DaysLater';
  font-style: normal;
  font-weight: normal;
  src: local('28DaysLater'), url('28DaysLater.ttf') format("ttf");
}
  *:not(i) {
    font-family: "28DaysLater", fantasy;
 }

.main-background{
  background-color: #7f8d89;
}

.map-display-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around; 
  margin-top: 25px; 
  margin-bottom: 25px; 

} 

.map-and-story {
  display: flex;
  flex-wrap: row;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-left: 10 px;
  align-items: top;
  flex-basis: 100 px;
  height: 100 px;

}

.DisplayText {
  color: #3e0000;
  margin-top: 10px;
  padding: 50px;
}

.intro-content {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.intro-content p {
  font-size: calc(10px + 0.8vw);
  margin-right: 10px;
  color: #1C1C1C;
}

.intro {
  margin: 10px;
  min-width: 389.65px;
  width: auto;

}

.intro-header {
  text-align: center;
  color: #EDF5E1;
  margin: 5px 0px 5px 0px;
  font-size: 40px;
  font-family: '28DaysLater.ttf', fantasy;
  font-weight: 100;
}

.intro-header-container {
  min-height: 30px;
  background-color: #BB000E;
  color: #EDF5E1;
  padding: 5px;
  justify-content: space-between;
}

.intro-tagline {
  font-size: calc(10px + 0.8vw);
  margin-right: 10px;
  color: #1C1C1C;
  text-align: center;
}

.rank-container {
  color: #1C1C1C;
  font-weight: bold;
  background-color: #BB000E;
  margin: 30px 30px 30px 30px;
  padding: 1rem;
}

