/* https://www.ffonts.net/28-Days-Later.font */

@font-face {
  font-family: '28DaysLater';
  font-style: normal;
  font-weight: normal;
  src: local('28DaysLater'), url('28DaysLater.ttf') format("ttf");
}
  *:not(i) {
    font-family: "28DaysLater", fantasy;
 }

.main-background{
  background-color: #7f8d89;
}

.title-bar {
  background-color: blue;
  color: white;
  padding: 15px;
}

.title-bar h1 {
  margin: 0px;
  font-family: '28DaysLater';
}

.title-bar a {
  color: white;
  margin-right: 1em;
}

.map-and-story {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-start;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  
}

.intro-content {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.intro-content p {
  font-size: calc(10px + 0.8vw);
  margin-right: 10px;
  color: #1C1C1C;
}

.intro {
  margin: 10px;
  max-width: calc(100vw - 500px);
  min-width: 389.65px;
  width: auto;

}

.intro-header {
  text-align: center;
  background-color: #BB000E;
  color: #EDF5E1;
  margin: 10px 10px 10px 10px;
  font-size: 50px;
  font-family: '28DaysLater.ttf', fantasy;
  font-weight: 200;
}

.intro-header-container {
  min-height: 60px;
  background-color: #BB000E;
  color: #EDF5E1;
  padding: 5px;
  justify-content: left;
}

.intro-tagline {
  font-size: calc(10px + 0.8vw);
  margin-right: 10px;
  color: #1C1C1C;
  text-align: left;
}
